<hi><%= @project.title %></h1>

  <p>
    by: <em><%= @project.user.username %></em>
  </p>

<hr/>

<%= link_to 'Back This Project', [:new, @project, :pledge], class: 'btn btn-success' %>

  <p>
    <%= @project.description %>
  </p>