<div>
  <%= form.text_field :title, placeholder: 'project title' %>
</div>

<div>
  <%= form.number_field :goal, placeholder: 'goal amount' %>
</div>

<div>
  <%= form.text_area :teaser, rows: 2, placeholder: 'a brief description of the project' %>
</div>

<div>
  <%= form.text_area :description, rows: 10, placeholder: 'give a detailed description... feel free to go nuts!' %>
</div>